<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>404</title>
</head>
<body>
    <hgroup>
        <h1>Not Found 404.</h1>
        <h2>An error occurred while processing your request.</h2>
        <h4><a href="@Url.Action("Index", "Parser")">Home.</a></h4>
    </hgroup>
</body>
</html>